/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
html, body{
	margin: 0;
	padding: 0;
	background: url("body.png");
	font-family: "Ubuntu", sans;
	height:120%;
	min-height: 120%;
}

#wrapper{
	position: relative;
	width: 1024px;
	margin: 0 auto;
	background: url("wrapper.png");
	height:auto !important; /* real browsers */
	height:100%; /* IE6: treaded as min-height*/

	min-height:100%; /* real browsers */
}

#footer{
	position:absolute;
	width:100%;
	bottom:0; /* stick to bottom */
	background:url("header.png");
	color: #AAA;
	text-align: center;
}

a{
	text-decoration: none;
	color: #a60000;
}
.left{
	float: left;
}

.right{
	float:right;
}

.clear{
	clear: both;
}

#header{
	margin-top:-50px;
	margin-bottom: -20px;
	padding: 0px;
	height: 100px;
	text-align: center;
	background: url("header.png") repeat
}
#header p{
	padding-top:20px;
	font-size: 50px;
    color: rgb(224, 224, 224);
    text-shadow: 0px -2px rgba(0, 0, 0, 0.2);

}
.menu{
	background: url("menu.png");
	height: 40px;
	box-shadow: 0px 2px 5px #333;
}

.menu a, .status a{
	text-decoration: none;
	text-shadow: 0px 2px 3px #333333;
	color: #FFFFFF;
}

.menu ul{
    margin: 0; padding: 0;
    float: left;
}
 
.menu ul li{
    display: inline;
}
 
.menu ul li a{
    float: left; text-decoration: none;
}
.menu ul li a,.status a{
	text-decoration: none;
	color: white;
    padding: 10.5px 11px;
    background-color: #A60000; 
}
.status a{
	float: left;
}
.status p{
	color: white;
    margin: 10.5px 11px;
    padding-right: 20px;
    border-right: 2px solid grey;
    text-shadow: 0px 2px 3px #333333;
	float: left;
}
 
.menu ul li a:visited, .status a:visited{
    color: white;
}
 
.menu ul li a:hover, .menu ul li .current, .status a:hover{
    color: #FFFFFF;
    background: url("menu-hover.png");
}
input[type="submit"]{
	background: #A60000;
	width: 100px;
	padding: 10.5px 11px;
	border: none;
	color: #FFFFFF;
}

input[type="submit"]:hover{
	background: #333;
	color: #FFFFFF;
}

input[type="text"],input[type="password"], textarea{
	width: 200px;
}

.wrap{
	width:100%;
	min-height: 100%;
	/*margin: 10px 20px;*/
}

.wrap p.notification{
	margin: 10px 20px;
	color: #a60000;
	font-style: italic;
}

#left_side{
	float:left;
	width: 260px;
	padding: 5px 20px;
	/*background: url('content.png');*/
	/*box-shadow: inset1px 1px 3px #aaa;*/
}

#right_side{
	float: right;
	width: 660px;
	padding: 5px 20px;
}

#right_side .list_head{
	z-index: 1;
	position: relative;
	height: 50px;
	background: url('list.png');
	/*box-shadow: 1px 1px 3px #333;*/
}

#right_side .list_head h2{
	float: left;
	color: white;
	margin: 10px 20px;
    text-shadow: 0px 2px 3px #333333;
}

#right_side .list_head a{
	float: left;
	font-size: 24px;
	color: #eee;
    text-shadow: 0px 0px 5px #555;
}

#right_side .list_head a:hover{
	float: left;
	color: #eee;
    text-shadow: 0px 0px 8px #ffffff;
}

#right_side .content{
	z-index: 0;
	margin-top:-50px;
	padding: 60px 20px 10px 20px;
	background: url('content.png');
	box-shadow: 2px 2px 5px #aaa;

}
#right_side .content ul{
	margin: 0px;
	padding: 0px;
}

.list_product{
	text-decoration: none;
	display: inline-block;
	width: 172px;
	padding: 10px;
	margin: 5px;
	/*background: red;*/
	border: 1px solid #888;
	font-size: 12px;
}

.list_product:hover{
   background: rgb(255,204,204);
   /*border: 1px solid #a60000;*/
}

.list_product p{
	display: inline;
}

p.product{
	color: #333;
}

form.form_standart{
	padding: 10px 20px;
}
