// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.button input[type="submit"]{
	background: #A60000;
	width: 100px;
	padding: 10.5px 11px;
	border: none;
	color: #FFFFFF;
}